@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;600;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    color: #616974;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%) no-repeat;
}
.title {
    font-weight: 600;
    font-size: 50px;

    @media screen and and (max-height: 800px){
        font-size: 40px;
    }|
}
.container {
    min-width: 400px;
    max-width: 400px;

    @media screen and and (max-height: 800px){
        min-width: 300px;
        max-width: 300px;
    }
}
.form-rounded {
    border-radius: 2em;
}
.back-card {
    border-radius: 2.5em !important;
}

.city-name {
    position: absolute;
    width: 100%;
}

.city-name p {
font-size: 28px;
font-weight: 600;
}

.city-name span {
    font-size: 20px;
    font-weight: 300px;
    position: relative;
    top:-20px;
}

.temp {
    font-weight: 200;
    font-size: 6rem;
    letter-spacing: -5px;
    white-space: nowrap;
}

.card-mid {
    line-height: 0.5;
}
.card-body {
    padding: 0 !important;
}

.condition {
font-weight: 600;
font-size: 1em;
line-height: 1em;
text-transform: capitalize;
}

.high::before {
    content: '';
    background: url('img/up.svg') no-repeat;
    height: 15px;
    width: 10px;
    display: inline-block;

}
.low::before {
    content: '';
    background: url('img/down.svg') no-repeat;
    height: 15px;
    width: 10px;
    display: inline-block;
    position: relative;
    top:2px

}

.icon-container {
    width: 100px;
    border-radius: 100%;
    height: 100px;
    background-color: #8989bb;
    background-image: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);
}

.icon-container img {
    margin: auto;
}

.card-bottom {
    line-height: 0.4;
}

.card-bottom p {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: -5px;
}

.card-bottom span {
    font-size: 12px;
}