@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 100%);
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.quiz-container {
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px 10px rgba(100, 100, 100, 0.1);
    max-width: 100%;
    overflow: hidden;
    position: relative;

    
}
.quiz-header {
    padding: 2.5rem;
}
.header-question {
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}
h2 {
    margin: 0;
    text-align: center;
    padding: 1rem;
}
ul li {
    margin: 1rem 0;
    text-align:left;
    background-color: #b0f3f1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.1);

}
ul li label {
    cursor: pointer;
}
button.dark {
    background-color: #b0f3f1;
    border-radius: 10px;
    padding: 0.7rem;
    border: none;
    box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.1);
    position:absolute;
    margin: 2%;
    right: 0;
    cursor: pointer;

}
button.submit {
    background-color:#d2c2d1;
    display: block;
    width: 100%;
    padding: 2rem;
    color: white;
    font-family: inherit;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
@media only screen and (max-height: 800px){
    button.submit {
        position: absolute;
        bottom: 0;
        min-height: 10vh;
        padding: 0;
        text-align: center;
        margin-bottom: 70px;
    }

    .quiz-container {
        min-height: 100vh;
    }

}

button.submit:hover {
    background-color: #cab1c9;
}
.dark-mode {
    background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  }
  .dark-mode-container {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

    @media only screen and (max-height: 800px){ 
        background-color: #537895;
        color: #fff;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    }
  }